#titulo {
    color: #002855;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}

fieldset {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    border-color: #5c677d;
}

label {
    font-weight: bold;
    font-size: 17px;
    color: #001233;
}

legend {
    color: #023e7d;
    letter-spacing: 1.1px;
    font-size: 18px;
}

fieldset > input {
    padding: 8px 10px;
    border-radius: 15px;
    background-color: #cde6f5;
    border:none;
    font-size: 17px;
}

fieldset > input:hover {
    background-color: #a2e0f9;
}

fieldset > input:focus {
    background-color: #7ec2dd;
    outline: none;
}

#botaoEnviar {
    cursor: pointer;
    padding: 15px 50px;
    background-color: #0353a4;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.1px;
}

#botaoEnviar:hover {
    background-color: #023e7d;
} 